# Ignore compiled bytecode files.
*.pyc

# Ignore the virtual environment used by testing and building scripts.
venv

# Ignore mypy cache.
.mypy_cache

# Ignore test coverage.
.coverage

# Ignore setuptools building directories.
seligimus.egg-info
build

# Ignore setuptools output directory.
dist
